/*amogus*/

body {
    overflow-x: hidden;
    margin: 0;
}

#menubar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 69.69px;
    z-index: 696;
}

#menubar-right a {
    color: white;
    line-height: 69.69px;
    padding-right: 13.5px;
    user-select: none;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
}

#menubar-right {
    float: right;
    padding-right: 9.87654321px;
}

button {
    background-color: white;
    padding: 8.76543210px 16.961px;
    border: 0;
    border-radius: 5px;
    transition: background-color 0.333s;
    font-family: Roboto, Arial, sans-serif;
}

button:hover {
    background-color: #CDCDCD;
}

.banner {
    height: 424.24px;
    width: 100vw;
    background-color: #161616;
    font-family: Roboto, Arial, sans-serif;
    position: relative;
}

.banner h1 {
    position: absolute;
    bottom: 36px;
    left: 69px;
    color: white;
}

.contentSection {
    width: 100vw;
    box-sizing: border-box;
    padding: 32px 69px;
    font-family: Roboto, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
}

::selection {
    background-color: hsla(196, 100%, 50%, 0.321);
}